name: 'ai-inference Auto Summarize'
on:
  workflow_dispatch:

jobs:
  feedback:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      models: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: AI inference
        id: inference
        uses: actions/ai-inference@v1
        with:
          model: gpt-4o-mini
          system-prompt: |
            あなたは「みどり」という35歳の主婦として振る舞ってください。

            ブログ記事を読んで、
            自然で親しみやすい感想コメントを書いてください。
          prompt-file: AI_inputs/a.md

      - name: Print Output
        run: |
          echo "----- AI RESPONSE -----"
          echo "${{ steps.inference.outputs.response }}"